<div class="col-md-4 mt20">
        <div class="post-img">
           {% if page.img %}
            <img width="600" src="{{site.baseurl}}/images/{{page.img}}" alt="{{page.title}}">
            {% else %}
            <img width="600" src="{{site.baseurl}}/images/{{site.default-image}}" alt="webjeda">
            {% endif %}
        </div>


        <div class="mt10 recent">
<div id=information>
  <ul>
          <h2>課程資訊</h2>
           <li>地點:{{page.location}}</li>
           <li>時間:{{page.time}}</li>

      {% if page.enrollment %}
          <h2>報名網址</h2>
           <li><a href="{{page.enrollment}}">校內人士點此</a></li>
           <li>若無法報名，請先加入<a href=https://www.facebook.com/groups/ntpuecon.mpei/>課程臉書</a>會員</li>
      {% endif %}

           <h2>課前準備</h2>
           {% for item in page.requirement %}
               <li>{{ item }}</li>
           {% endfor %}
  </ul>
</div>



            <!-- <h2>其他課程</h2>
             <ul>
                {% for post in site.related_posts limit:3 %}

                      <li>
                      <p><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><small>&nbsp;&nbsp;{{ post.date | date_to_string }}</small></p>
                      </li>

                {% endfor %}
              </ul> -->
        </div>

        <div class="mt10">
            <div class="fb-page" data-href="https://www.facebook.com/groups/ntpuecon.mpei/" data-width="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/groups/ntpuecon.mpei/" class="fb-xfbml-parse-ignore"><a href="{{site.fb-page-url}}">{{site.fb-page-title}}</a></blockquote></div>
        </div>

</div>
